language: objective-c
osx_image: xcode9.2
gemfile: Gemfile

branches:
  only:
    - master

cache:
  - cocoapods

notifications:
  email:
   - muiz.idn@gmail.com

env:
  - ACTION=test DESTINATION='platform=iOS Simulator,name=iPhone 5s,OS=latest'

script:
  - xcodebuild -workspace ViewDSL.xcworkspace -scheme ViewDSL -sdk iphonesimulator -destination "$DESTINATION" $ACTION

after_success:
  - bash <(curl -s https://codecov.io/bash)
